.breadcrumb_container {
  margin-top: 7.6rem;
  display: flex;
  justify-content: center;
}

.breadcrumb_title_container {
  display: flex;
  max-width: 74.8rem;
  width: 100%;
  height: 6rem;
  align-items: flex-end;
}

.breadcrumb_title {
  width: 32.4375rem;
  line-height: 3rem;
  color: #3c4a41;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "PP Neue Montreal", Arial, sans-serif;
}

.breadcrumb_layers {
  display: flex;
  width: 45.0625rem;
  height: 3.3125rem;
  align-items: center;
  justify-content: space-around;
  border: solid 0.0625rem #3c4a4133;
  border-radius: 6.25rem;
}

.breadcrumb_layer {
  color: #3c4a41;
  padding: 0.5rem 0.75rem;
  border-radius: 6.25rem;
  cursor: pointer;
  font-weight: 500;
}

.breadcrumb_layer:hover {
  background-color: #3c4a411a;
}

.breadcrumb_layer.active {
  background-color: #3c4a411a;
}
