.homePage_pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.homePage_header_text_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2.8rem;
}

.homePage_header_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 74.8rem;
  height: 7.75rem;
  width: 100%;
}

.homePage_header_text_left {
  color: #3c4a41;
  font-family: "PP Neue Montreal", Arial, sans-serif;
  font-weight: 500;
  font-size: 2.9rem;
  width: 22.375;
  line-height: 3.8rem;
}

.homePage_header_text_right {
  display: flex;
  flex-direction: column;
  margin-right: 11.3rem;
  justify-content: space-around;
  height: 7.75rem;
  color: #3c4a41b2;
  font-size: 1rem;
}

.homePage_header_text_right_text {
  padding-left: 1.2rem;
}

.homePage_header_logo {
  width: 4rem;
  height: 4.0075rem;
  margin-left: 5.2rem;
}
